@import "../../../../../Shared/Style/variables";

.user-sub-nav {
    position: relative;
    background: $background;
    background: $background-linear;

    .nav-bar {
        color: white;
        box-shadow: none;
        padding-top: 0.5em;
        padding-bottom: 0.5rem;
        padding-left: 0;

        .list-menu {
            margin-left: 24rem;

            .hotline {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-24h {
                    margin-right: 1rem;
                }

                .hotline-info {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .title {
                        font-size: 22px;
                    }

                    .phone {
                        color: #ffff;
                        margin-left: 1rem;
                        color: #ffeb00;
                    }
                }
            }
        }
    }

    .btn-login-box {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;


    }


    .user-logged-box {
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .hello-title {
            color: #ffff;
            margin-right: 0.5rem;
        }

        .icon-user {
            font-size: 25px;
        }

        .btn-login {
            font-size: 18px;

        }
    }



}
