* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.form-input-group {
    margin-top: 1rem;
}

.btn-group-table {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-left: 1rem;
    }

}
