.economy-seat {
    .seats-row {
        display: flex;
        align-items: center;

        .seat-list-left {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;

            .seat-item {
                width: 45px;
                height: 45px;
                border: 3px solid rgb(7, 175, 63);
                border-radius: 10px;
                margin-left: 10px;
                margin-top: 12px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-checked {
                    font-size: 25px;
                    color: #ffff;
                }

                .icon-prevent {
                    font-size: 25px;
                    color: #ffff;
                }




            }

            .seat-reserved {
                background-color: rgb(7, 175, 63);
            }
        }

        .number-list {
            width: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .number-item {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .seat-list-right {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;

            .seat-item {
                width: 45px;
                height: 45px;
                border: 3px solid rgb(7, 175, 63);
                border-radius: 10px;
                margin-right: 10px;
                margin-top: 12px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon-checked {
                    font-size: 25px;
                    color: #ffff;
                }

                .icon-prevent {
                    font-size: 25px;
                    color: #ffff;
                }




            }

            .seat-reserved {
                background-color: rgb(235, 195, 20);
            }
        }
    }
}
